* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #2B0C08; 
    color: white;          
    font-family: Arial, sans-serif;
    min-height: 100vh;   
    overflow-x: hidden;
}

.seccion-contacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    
    gap: 50px; 

    max-width: 1300px; 


    margin: 160px auto 50px auto; 

    padding: 20px;
    width: 100%;
}

.contenedor-mapa {
    flex: 1;
    max-width: 550px;
    width: 100%;
}


.formulario-contacto {
    flex: 1;
    max-width: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

.formulario-contacto h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.caja-input {
    display: block; 
    width: 100%;
    background-color: #111; 
    border: 1px solid #333; 
    color: white;
    padding: 14px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

.area-texto {
    min-height: 130px;
    resize: vertical; 
}

.caja-input:focus {
    outline: none;
    border-color: #00ffcc; 
}

/* Botón de envío */
.boton-enviar {
    background-color: #00ffcc;
    color: black;
    border: none;
    padding: 14px 28px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
    align-self: flex-start; 
}

.boton-enviar:hover {
    background-color: white;
    transform: translateY(-2px);
}


@media (max-width: 768px) {
    .seccion-contacto {
        flex-direction: column;
        margin-top: 80px; 
        padding: 15px;
        gap: 30px;
    }

    .contenedor-mapa {
        margin-top: 40px; 
    } 
    .formulario-contacto {
        max-width: 100%;
    }

    .contenedor-mapa iframe {
        height: 280px;
    }

    .boton-enviar {
        width: 100%; 
        align-self: stretch;
    }
}
